 /* =================================
   CASHNOVA PREMIUM PROFILE DESIGN
================================= */


*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',Arial,sans-serif;

}



body{

background:#f5f7fc;
color:#222;

}



.profile-page{

min-height:100vh;
padding:16px;
padding-bottom:30px;

}





/* HEADER */


.profile-header{

display:flex;
align-items:center;
gap:12px;
margin-bottom:20px;

}



.profile-header button{

width:38px;
height:38px;
border:none;
border-radius:50%;
background:white;
color:#0066ff;
font-size:16px;
box-shadow:0 5px 15px rgba(0,0,0,.08);

}



.profile-header h1{

font-size:24px;
font-weight:800;
color:#0066ff;

}







/* PROFILE CARD */


.profile-card{

background:white;
border-radius:24px;
padding:25px 18px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,.08);
margin-bottom:18px;

}





/* ICON */


.profile-icon{

width:85px;
height:85px;
border-radius:50%;
background:linear-gradient(135deg,#0066ff,#003080);
color:white;
display:flex;
align-items:center;
justify-content:center;
font-size:38px;
margin:0 auto 15px;

}





.profile-card h2{

color:#0066ff;
font-size:24px;
margin-bottom:18px;

}





/* INFORMATION */


.profile-info{

display:flex;
flex-direction:column;
gap:12px;

}




.info-box{

display:flex;
align-items:center;
gap:15px;
background:#f5f8ff;
padding:14px;
border-radius:16px;
text-align:left;

}



.info-box i{

width:35px;
height:35px;
border-radius:50%;
background:#0066ff;
color:white;
display:flex;
align-items:center;
justify-content:center;

}



.info-box p{

font-size:12px;
color:#777;

}



.info-box h3{

font-size:15px;
color:#222;
margin-top:3px;

}








/* SECURITY CARD */


.account-card{

background:white;
border-radius:22px;
padding:18px;
box-shadow:0 8px 22px rgba(0,0,0,.07);

}



.account-card h2{

color:#0066ff;
font-size:20px;
margin-bottom:15px;

}




.security-item{

display:flex;
align-items:center;
gap:12px;
background:#f6f8ff;
padding:13px;
border-radius:15px;
margin-bottom:10px;

}



.security-item i{

color:#0066ff;
font-size:18px;

}



.security-item span{

font-size:13px;
color:#555;

}






@media(max-width:450px){


.profile-page{

padding:12px;

}


.profile-card{

padding:20px 15px;

}



.profile-icon{

width:75px;
height:75px;
font-size:32px;

}



}
#backButton{

width:38px;
height:38px;
border:none;
border-radius:50%;
background:white;
color:#0066ff;
font-size:16px;
box-shadow:0 5px 15px rgba(0,0,0,.08);
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;

}